.vs/
bin/
obj/
Domain/vs/
Domain/bin/
Domain/obj/
Application/vs/
Application/bin/
Application/obj/
Infrastructure/vs/
Infrastructure/bin/
Infrastructure/obj/
WebApi/vs/
WebApi/bin/
WebApi/obj/
WebApi/Debug/
